# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Rafts1.iml
# Datasource local storage ignored files
/../../../../../../:\Repos\Rafts1\.idea\.idea.Rafts1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
